<div id="kind7_t" class="ui list">

	{{#each model.deviceinfo as |device|}}
		<div class="item clearfix devicedetail">

			<div class="fl">
				{{#if device.kindiscomputer}}
					<i class="icon desktop myblue"></i>
				{{else if device.kindismobile}}
					<i class="icon mobile myblue"></i>
				{{else if device.kindisknow}}
					<i class="icon help circle myblue"></i>
				{{/if}}
			</div>

			<div class="fl">
				<div class="ui list">
					<div class="item"><label>{{device.storagetype}}</label></div>
					<div class="item"><label>设备类型</label>：<label>{{device.devicename}}</label></div>
					<div class="item"><label>总容量</label>：<label>{{device.totalcapacity}}</label></div>
					<div class="item"><label>已用容量</label>：<label>{{device.usedcapacity}}</label></div>
				</div>
			</div>
			
		</div>
	{{/each}}

</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>